[Unit]
Description=markdown server
After=network.target

[Service]
User=<user>
Group=<group>
ExecStart=/usr/local/bin/mdserver server localhost:8080 -d /home/romeo/Documents/reference

[Install]
WantedBy=default.target
