[Unit]
Description=markdown server
After=network.target

[Service]
User=<user>
Group=<group>
ExecStart=/usr/local/bin/mdserver server <host> -d <markdown files path>

[Install]
WantedBy=default.target
